<!DOCTYPE html>
<title>Protesis |Armenia - Tebaida</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="styles/style.css" type="text/css"/>
<link rel="stylesheet" href="styles/prettyphoto.css" type="text/css"/>
<link rel="stylesheet" href="styles/totop.css" type="text/css"/>


</head>
<body>
<div class="main-container">
    <header>
        <h1><a href="index.html">Apoyo a las victimas </a></h1>

        <p id="tagline"><strong>del conflicto armado</strong></p>
    </header>
</div>
<div class="main-container">
    <div id="sub-headline">
        <div class="tagline_left"><p id="tagline2">Tel: 123 333 4444 | Mail: <a href="mailto:email@website.com">email@website.com</a>
        </p></div>
        <div class="tagline_right">
            <form action="#" method="post">
                <fieldset>
                    <legend>Site Search</legend>
                    <input type="text" value="Search Our Website&hellip;"
                           onfocus="if (this.value == 'Search Our Website&hellip;') {this.value = '';}"
                           onblur="if (this.value == '') {this.value = 'Search Our Website&hellip;';}"/>
                    <input type="submit" name="go" id="go" value="Search"/>
                </fieldset>
            </form>
        </div>
        <br class="clear"/>
    </div>
</div>
<div class="main-container">
    <div id="nav-container">
        <nav>
            <ul class="nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="typo.html">Protesis</a></li>
                <li><a href="#">Apoyo Medico</a>
                    <ul>
                        <li><a href="#">Armenia</a>
                            <ul>
                                <li><a href="armenia_tebaida_protesis.html">La tebaida</a>
                                </li>
                            </ul>
                        <li><a href="cali.html">Cali</a></li>
                    </ul>
                </li>
                <li><a href="portfolio.html">Apoyo Psicologico</a></li>
                <li><a href="gallery.html">Buscar Empleo</a></li>
                <li class="last"><a href="contact.php">Quienes Somos</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</div>

</div>
<script src="scripts/jquery.js" type="text/javascript"></script>
<script src="scripts/prettyphoto.js" type="text/javascript"></script>
<script src="scripts/jflow.js" type="text/javascript"></script>
<script src="scripts/easing.js" type="text/javascript"></script>
<script src="scripts/totop.js" type="text/javascript"></script>
<script src="scripts/superfish.js" type="text/javascript"></script>
<script src="scripts/functions.js" type="text/javascript"></script>
</body>
</html>
